-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag do
  = f.labeled(prefix, '&nbsp;'.html_safe) do
    %em= t("contactable.address_fields_insieme.#{prefix}")

  = f.labeled_boolean_field(:"#{prefix}_same_as_main",
                            caption: t('.same_as_main'),
                            label: '&nbsp;'.html_safe,
                            data: { hide: "person_#{prefix}" })

  = toggled_address_fields(prefix, f.object) do
    = f.labeled_input_field(:"#{prefix}_salutation", label: t('activerecord.attributes.person.salutation'))
    = f.labeled_input_field(:"#{prefix}_first_name", label: t('activerecord.attributes.person.first_name'))
    = f.labeled_input_field(:"#{prefix}_last_name", label: t('activerecord.attributes.person.last_name'))
    = f.labeled_input_field(:"#{prefix}_company_name", label: t('activerecord.attributes.person.company_name'))
    = f.labeled_input_field(:"#{prefix}_company", label: t('activerecord.attributes.person.company'))
    = f.labeled_text_area(:"#{prefix}_address", label: t('activerecord.attributes.person.address'), rows: 2)
    = f.labeled(:"#{prefix}_zip_town", t('contactable.fields.zip_town'), nil, class: 'controls-row') do
      = f.integer_field("#{prefix}_zip_code", class: 'span2', maxlenght: 10)
      = f.string_field("#{prefix}_town", class: 'span4')
    = f.labeled(:country) do
      .span6.shown{style: 'margin-left: 0px'}
        = country_select(f.object.class.model_name.param_key,
                         "#{prefix}_country",
                         { priority_countries: Settings.countries.prioritized,
                           include_blank: true },
                         { class: 'chosen-select',
                           data: { placeholder: ' ',
                                   chosen_no_results: t('global.chosen_no_results') } })
