= field_set_tag do
  = f.labeled_fp_input_field :lufeb_grundlagen, addon: t('global.hours_short')
  = f.labeled_fp_input_field :total_lufeb_promoting, addon: t('global.hours_short')
  = f.labeled_input_field :total_lufeb_general, addon: t('global.hours_short')
  = f.labeled_input_field :total_lufeb_specific, addon: t('global.hours_short')

= field_set_tag do
  = f.labeled_readonly_value :total_lufeb, value: format_hours(entry.total_lufeb)

%h2= fp_t('media')
= field_set_tag do
  = f.labeled_input_field :total_media, label: fp_t('lufeb_fields_sumarized.total_media'),
                                        addon: t('global.hours_short')
  = f.labeled_readonly_value :total_media, label: t('.total'), value: format_hours(entry.total_media)
