= field_set_tag(t('fp2020.time_records.lufeb_grundlagen')) do
  = f.labeled_fp_input_field :lufeb_grundlagen, addon: t('global.hours_short')

= field_set_tag(t('fp2020.time_records.lufeb_promoting')) do
  = f.labeled_fp_input_field :beratung_fachhilfeorganisationen, addon: t('global.hours_short')
  = f.labeled_fp_input_field :unterstuetzung_leitorgane, addon: t('global.hours_short')
  = f.labeled_fp_input_field :freiwilligen_akquisition, addon: t('global.hours_short')

  = f.labeled_readonly_value :total_lufeb_promoting, label: t('.subtotal'), value: format_hours(entry.total_lufeb_promoting)

= field_set_tag(t('fp2020.time_records.lufeb_general')) do
  = f.labeled_fp_input_field :auskuenfte, addon: t('global.hours_short')
  = f.labeled_fp_input_field :referate, addon: t('global.hours_short')
  = f.labeled_fp_input_field :medien_zusammenarbeit, addon: t('global.hours_short')
  = f.labeled_fp_input_field :sensibilisierungskampagnen, addon: t('global.hours_short')

  = f.labeled_readonly_value :total_lufeb_general, label: t('.subtotal'), value: format_hours(entry.total_lufeb_general)

= field_set_tag(t('fp2020.time_records.lufeb_specific')) do
  = f.labeled_fp_input_field :erarbeitung_grundlagen, addon: t('global.hours_short')
  = f.labeled_fp_input_field :gremien, addon: t('global.hours_short')
  = f.labeled_fp_input_field :vernehmlassungen, addon: t('global.hours_short')
  = f.labeled_fp_input_field :projekte, addon: t('global.hours_short')

  = f.labeled_readonly_value :total_lufeb_specific, label: t('.subtotal'), value: format_hours(entry.total_lufeb_specific)

= field_set_tag do
  = f.labeled_readonly_value :total_lufeb, value: format_hours(entry.total_lufeb)

%h2= fp_t('media')
= field_set_tag do
  = f.labeled_fp_input_field :medien_grundlagen, addon: t('global.hours_short')
  = f.labeled_fp_input_field :website, addon: t('global.hours_short')
  = f.labeled_fp_input_field :newsletter, addon: t('global.hours_short')
  = f.labeled_fp_input_field :videos, addon: t('global.hours_short')
  = f.labeled_fp_input_field :social_media, addon: t('global.hours_short')
  = f.labeled_fp_input_field :beratungsmodule, addon: t('global.hours_short')
  = f.labeled_fp_input_field :apps, addon: t('global.hours_short')
  = f.labeled_readonly_value :total_media, label: t('.subtotal'), value: format_hours(entry.total_media)
