- @subtitle = I18n.t('crud.edit.title', model: entry)

= crud_form(entry,
            url: general_cost_allocation_group_events_path(group, year),
            cancel_url: general_cost_allocation_group_events_path(group, year),
            buttons_top: false,
            buttons_bottom: true,
            submit_label: t('.start_allocation'),
            method: :put,
            html: { class: 'report' }) do |f|

  = render 'leistungskategorie_fields',
           f: f,
           caption: t('.blockkurse'),
           field: :general_costs_blockkurse,
           lk: 'bk'

  = render 'leistungskategorie_fields',
           f: f,
           caption: t('.tageskurse'),
           field: :general_costs_tageskurse,
           lk: 'tk'

  = render 'leistungskategorie_fields',
           f: f,
           caption: t('.semesterkurse'),
           field: :general_costs_semesterkurse,
           lk: 'sk'


%p= t('.last_allocation', date: format_attr(entry, :updated_at)).html_safe
