- @subtitle = I18n.t('crud.edit.title', model: entry)

= crud_form(entry,
            url: general_cost_allocation_group_events_path(group, year),
            cancel_url: general_cost_allocation_group_events_path(group, year),
            buttons_top: false,
            buttons_bottom: true,
            submit_label: t('.start_allocation'),
            method: :put,
            html: { class: 'report' }) do |f|

  = field_set_tag(t('.blockkurse')) do
    = f.labeled_readonly_value :total_direct_costs, value: format_money(0)
    = f.labeled_input_field :general_costs_blockkurs, addon: t('global.currency')
    = f.labeled_readonly_value :general_cost_allowance, value: format_percent(0)

  = field_set_tag(t('.tageskurse')) do
    = f.labeled_readonly_value :total_direct_costs, value: format_money(0)
    = f.labeled_input_field :general_costs_tageskurs, addon: t('global.currency')
    = f.labeled_readonly_value :general_cost_allowance, value: format_percent(0)

  = field_set_tag(t('.semesterkurse')) do
    = f.labeled_readonly_value :total_direct_costs, value: format_money(0)
    = f.labeled_input_field :general_costs_semesterkurs, addon: t('global.currency')
    = f.labeled_readonly_value :general_cost_allowance, value: format_percent(0)


%p= t('.last_allocation', date: format_attr(entry, :updated_at)).html_safe
