= field_set_tag do
  = f.labeled_vp_input_field :lufeb_grundlagen, addon: t('global.hours_short')
  = f.labeled_input_field :total_lufeb_promoting, addon: t('global.hours_short')
  = f.labeled_input_field :total_lufeb_general, addon: t('global.hours_short')
  = f.labeled_input_field :total_lufeb_specific, addon: t('global.hours_short')
  = f.labeled_vp_input_field :total_lufeb_media, addon: t('global.hours_short')
