-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- @subtitle = I18n.t('crud.edit.title', model: entry)

= reporting_frozen_message

= crud_form(entry,
            url: time_record_report_group_path(group, year, entry.class.key),
            cancel_url: time_record_base_information_group_path(group, year: year),
            buttons_top: !reporting_frozen?,
            buttons_bottom: !reporting_frozen?,
            method: :put,
            html: { class: 'long-labeled report', data: { readonly: reporting_frozen? } }) do |f|

  %p= t('.comment')

  - if entry.class.key == 'employee_time'
    %h3= t('.employees')
    = f.fields_for(:employee_pensum) do |nf|
      = nf.labeled_input_field :paragraph_74, help_inline: t('.help_employee_pensum')
      = nf.labeled_input_field :not_paragraph_74
      = f.labeled_readonly_value :total_employee_pensum, label: t('.total'), value: fnumber(entry.employee_pensum.total)

  %h3= t('.lufeb')
  - if entry.class.key == 'volunteer_without_verification_time'
    = render 'lufeb_fields_sumarized', f: f
  - else
    = render 'lufeb_fields_full', f: f

  %h2= vp_t('.courses')
  = field_set_tag do
    = f.labeled_vp_input_field :kurse_grundlagen, addon: t('global.hours_short')
    = f.labeled_input_field :blockkurse, addon: t('global.hours_short')
    = f.labeled_input_field :tageskurse, addon: t('global.hours_short')
    = f.labeled_input_field :jahreskurse, addon: t('global.hours_short')
    = f.labeled_vp_input_field :treffpunkte, addon: t('global.hours_short')
    = f.labeled_readonly_value :total_courses, label: t('.total'), value: format_hours(entry.total_courses)

  %h3= t('beratung', scope: vp_i18n_scope)
  = field_set_tag do
    = f.labeled_input_field :beratung, addon: t('global.hours_short')
    = f.labeled_readonly_value :total_additional_person_specific, label: t('.total'), value: format_hours(entry.total_additional_person_specific)

  %h3= t('.remaining')
  = field_set_tag do
    = f.labeled_input_field :mittelbeschaffung, addon: t('global.hours_short')
    = f.labeled_input_field :verwaltung, addon: t('global.hours_short')
    = f.labeled_readonly_value :total_remaining, label: t('.total'), value: format_hours(entry.total_remaining)

  = field_set_tag do
    = f.labeled_readonly_value :total_paragraph_74, value: format_hours(entry.total_paragraph_74)
    = f.labeled_readonly_value :total_paragraph_74_pensum, value: fnumber(entry.total_paragraph_74_pensum)

  %h3= t('.not_paragraph_74')
  = field_set_tag do
    = f.labeled_input_field :nicht_art_74_leistungen, addon: t('global.hours_short')

  = field_set_tag do
    = f.labeled_readonly_value :total_not_paragraph_74, value: format_hours(entry.total_not_paragraph_74)
    = f.labeled_readonly_value :total_not_paragraph_74_pensum, value: fnumber(entry.total_not_paragraph_74_pensum)

  %h3= t('.whole_organization')
  = field_set_tag do
    = f.labeled_readonly_value :total, value: format_hours(entry.total)
    = f.labeled_readonly_value :total_pensum, value: fnumber(entry.total_pensum)
