= field_set_tag do
  = f.labeled(:disabled_person_reference_title, '&nbsp;'.html_safe) do
    %em= t('.reference_title')

  = f.labeled_boolean_field(:disabled_person_reference,
                            caption: t('.reference'),
                            label: '&nbsp;'.html_safe,
                            data: { show: :disabled_person_fields })

  #disabled_person_fields{style: !entry.send(:disabled_person_reference?) && 'display: none;'}
    = f.labeled_input_field(:disabled_person_first_name, label: t('activerecord.attributes.person.first_name'))
    = f.labeled_input_field(:disabled_person_last_name, label: t('activerecord.attributes.person.last_name'))
    = f.labeled_text_area(:disabled_person_address, rows: 2, label: t('activerecord.attributes.person.address'))
    = f.labeled(:disabled_person_zip_town, t('contactable.fields.zip_town'), nil, class: 'controls-row') do
      = f.integer_field(:disabled_person_zip_code, class: 'span2', maxlength: 10)
      = f.string_field(:disabled_person_town, class: 'span4')
    = f.labeled_string_field(:disabled_person_birthday,
                             value: f.date_value(:disabled_person_birthday),
                             label: t('activerecord.attributes.person.birthday'),
                             help_inline: t('people.fields.format_birthday'),
                             class: 'span2')
