-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag do
  = f.labeled_input_fields :salutation

  = f.labeled_collection_select :canton,
                                possible_person_cantons,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'

  = f.labeled_collection_select :language,
                                possible_person_languages,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'

  = f.labeled_collection_select :correspondence_language,
                                possible_person_correspondence_languages,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'

  = f.labeled_input_fields :number

-# Additional addresses
- %w( correspondence_general billing_general correspondence_course billing_course ).each do |prefix|
  = field_set_tag(t(".#{prefix}")) do
    = f.labeled_input_field(:"#{prefix}_name", caption: t('activerecord.attributes.person.name'))
    = f.labeled_input_field(:"#{prefix}_company_name", caption: t('activerecord.attributes.person.company_name'))
    = f.labeled_input_field(:"#{prefix}_company", caption: t('activerecord.attributes.person.company'))
    = f.labeled_text_area(:"#{prefix}_name", caption: t('activerecord.attributes.person.address'))
    = f.labeled(:"#{prefix}_zip_town", t('.zip_town'), nil, class: 'controls-row') do
      = f.integer_field("#{prefix}_zip_code", class: 'span2', maxlenght: 10)
      = f.string_field("#{prefix}_town", class: 'span4')
    = f.labeled_input_field(:"#{prefix}_name", caption: t('activerecord.attributes.person.country'))
