-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag do
  = f.labeled_input_fields :salutation

  = f.labeled_i18n_enum_field :canton, Cantons.labels, prompt: true, class: 'form-select form-select-sm'

  = f.labeled_i18n_enum_field :language, Person.language_labels, prompt: true, class: 'form-select form-select-sm'

  = f.labeled_i18n_enum_field :correspondence_language, Person.correspondence_language_labels, prompt: true, class: 'form-select form-select-sm'

- if current_user && entry.id != current_user.id
  = field_set_tag do
    = f.labeled(:number) do
      = f.input_field :number, disabled: !entry.manual_number
      = f.help_inline f.boolean_field(:manual_number, caption: t('.manual_number'))

    = f.labeled_input_field :reference_person_number, help_inline: t('.reference_person_number_help')

    = f.labeled_input_field(:dossier)
