-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag do
  = f.labeled_i18n_enum_field :disability, Event::Participation.disability_labels

  = f.labeled(:multiple_disability) do
    = f.inline_radio_button(:multiple_disability, true, f(true))
    = f.inline_radio_button(:multiple_disability, false, f(false))
    = f.inline_radio_button(:multiple_disability, '', t('global.unknown'))

  = f.labeled(:wheel_chair) do
    = f.inline_radio_button(:wheel_chair, true, f(true))
    = f.inline_radio_button(:wheel_chair, false, f(false))

- if can?(:modify_internal_fields, entry)
  = field_set_tag do
    = f.labeled_input_field :invoice_text
    = f.labeled_input_field :invoice_amount, addon: t('global.currency')

.form-horizontal.participation-person
  = f.fields_for(:person, entry.person) do |pf|
    = field_set_tag Person.model_name.human do
      = pf.hidden_field(:externally_registered, value: 'true')
      = pf.hidden_field :id
      = render 'contactable/address_fields', f: pf

    - %w(correspondence_course billing_course).each do |prefix|
      = render 'contactable/single_address_fields', f: pf, prefix: prefix

    = field_set_tag do
      = pf.labeled_string_field(:ahv_number)
      = pf.labeled_string_field(:birthday,
                                value: pf.date_value(:birthday),
                                help_inline: t('people.fields.format_birthday'),
                                class: 'span2')
      = pf.labeled_i18n_enum_field(:canton, Cantons.labels, class: 'span3')

