- if can?(:modify_internal_fields, entry)
  = field_set_tag do
    = f.labeled_input_field :internal_invoice_text
    = f.labeled_input_field :internal_invoice_amount, addon: t('global.currency')

.form-horizontal.participation-person
  = f.fields_for(:person, entry.person) do |pf|
    = field_set_tag Person.model_name.human do
      = pf.hidden_field :id
      = render 'contactable/address_fields', f: pf

    - %w(correspondence_course billing_course).each do |prefix|
      = render 'contactable/single_address_fields', f: pf, prefix: prefix

    = field_set_tag do
      = pf.labeled_string_field(:birthday,
                                value: pf.date_value(:birthday),
                                help_inline: t('people.fields.format_birthday'),
                                class: 'span2')
      = pf.labeled_collection_select(:canton,
                                    possible_person_cantons,
                                    :id,
                                    :to_s,
                                    { prompt: true },
                                    class: 'span3')


