-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- @subtitle = I18n.t('crud.edit.title', model: entry)

= crud_form(entry,
            url: capital_substrate_group_path(group, year),
            cancel_url: capital_substrate_group_path(group, year: year),
            buttons_bottom: true,
            method: :put,
            html: { class: 'long-labeled report' }) do |f|

  = field_set_tag do
    = f.labeled_readonly_value :allocation_base, value: fnumber(report.allocation_base)
    = f.labeled_input_field :organization_capital, addon: t('global.currency'), help_inline: t('.help_per_date', date: f(Date.new(year).beginning_of_year))
    = f.labeled_readonly_value :organization_capital_allocated, value: format_money(report.organization_capital_allocated)
    = f.labeled_readonly_value :half_profit_margin, value: format_money(report.half_profit_margin)

    = f.labeled_input_field :fund_building, addon: t('global.currency'), help_inline: t('.help_per_date', date: f(Date.new(year).end_of_year))

    = f.labeled_readonly_value :exemption, value: format_money(report.exemption)
    = f.labeled_readonly_value :capital_substrate_allocated, value: format_money(report.capital_substrate_allocated)
