-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- @subtitle = t('.title')

%legend= t('activerecord.attributes.event/course.leistungskategorien.bk', count: 3)
%div{style: 'margin: 20px;'}
  = course_aggregation_csv_button(lk: :bk)
  = course_aggregation_csv_button(lk: :bk, categories: 1)
  = course_aggregation_csv_button(lk: :bk, categories: 2)
  = course_aggregation_csv_button(lk: :bk, categories: 3)
  = course_aggregation_csv_button(lk: :bk, subsidized: false)

%legend= t('activerecord.attributes.event/course.leistungskategorien.tk', count: 3)
%div{style: 'margin: 20px;'}
  = course_aggregation_csv_button(lk: :tk)
  = course_aggregation_csv_button(lk: :tk, categories: 1)
  = course_aggregation_csv_button(lk: :tk, categories: 2)
  = course_aggregation_csv_button(lk: :tk, categories: 3)
  = course_aggregation_csv_button(lk: :tk, subsidized: false)
%br

%legend= t('activerecord.attributes.event/course.leistungskategorien.sk', count: 3)
%div{style: 'margin: 20px;'}
  = course_aggregation_csv_button(lk: :sk)
  = course_aggregation_csv_button(lk: :sk, subsidized: false)
%br
