-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag(t('event.course_records.form.aufwand')) do
  = f.labeled_input_field :honorare_inkl_sozialversicherung, addon: t('global.currency')
  = f.labeled_input_field :unterkunft, addon: t('global.currency')
  = f.labeled_input_field :uebriges, addon: t('global.currency')

  = f.labeled_readonly_value :total, value: format_money(entry.direkter_aufwand)

= field_set_tag(t('event.course_records.form.ertrag')) do
  = f.labeled_input_field :beitraege_teilnehmende, addon: t('global.currency'),
        help_inline: muted(t('event.course_records.form.according_to_list',
                           count: format_money(@numbers.invoice_amount_sum)).html_safe)
