= field_set_tag(t('event.course_records.form.auswertungen')) do

  = f.labeled_readonly_value :total_direkte_kosten,
                             value: format_money(entry.total_direkte_kosten)
  = f.labeled_readonly_value :gemeinkostenanteil,
                             value: gemeinkostenanteil_with_updated_at(entry)
  = f.labeled_readonly_value :total_vollkosten,
                             value: format_money(entry.total_vollkosten)
  = f.labeled_readonly_value :anzahl_le,
                             value: f(entry.total_tage_teilnehmende)
  = f.labeled_readonly_value :vollkosten_pro_le,
                             value: format_money(entry.vollkosten_pro_le)
  = f.labeled_readonly_value :zugeteilte_kategorie,
                             value: zugeteilte_kategorie_with_info(entry)
