- title @event.to_s

= crud_form(entry,
            url: group_event_course_record_path(*parents),
            cancel_url: group_event_path(*parents),
            buttons_bottom: true,
            method: :put,
            html: { class: 'course-record report' }) do |f|

  = f.hidden_field(:event_id)

  = field_set_tag do
    = f.labeled_input_field :subventioniert

    - unless entry.sk?
      = f.labeled(:inputkriterien) do
        - [:a, :b, :c].each do |key|
          = f.inline_radio_button(:inputkriterien, key, key.to_s.upcase)

    = f.labeled(:kursart) do
      - [:weiterbildung, :freizeit_und_sport].each do |key|
        = f.inline_radio_button(:kursart, key, kursart_label(key))

    - unless entry.sk?
      = f.labeled_input_field :spezielle_unterkunft

    = f.labeled_input_field :kursdauer, addon: t(entry.sk? && 'global.hours_short' || 'global.days_short'), caption: t(entry.sk? && '.kursdauer_h' || '.kursdauer_d')

  = field_set_tag(t('.effektiv_teilnehmende')) do
    = f.labeled_input_field :teilnehmende_behinderte, addon: t('global.persons_short')
    = f.labeled_input_field :teilnehmende_angehoerige, addon: t('global.persons_short')
    = f.labeled_input_field :teilnehmende_weitere, addon: t('global.persons_short')

  = field_set_tag(t(entry.sk? && '.absenzstunden' || '.absenztage')) do
    = f.labeled_input_field :absenzen_behinderte, addon: t(entry.sk? && 'global.hours_short' || 'global.days_short')
    = f.labeled_input_field :absenzen_angehoerige, addon: t(entry.sk? && 'global.hours_short' || 'global.days_short')
    = f.labeled_input_field :absenzen_weitere, addon: t(entry.sk? && 'global.hours_short' || 'global.days_short')

  = field_set_tag(t('.betreuerinnen')) do
    = f.labeled_input_field :leiterinnen, addon: t('global.persons_short')
    = f.labeled_input_field :fachpersonen, addon: t('global.persons_short')
    = f.labeled_input_field :hilfspersonal_ohne_honorar, addon: t('global.persons_short')
    = f.labeled_input_field :hilfspersonal_mit_honorar, addon: t('global.persons_short')
    = f.labeled_input_field :kuechenpersonal, addon: t('global.persons_short')

  = field_set_tag(t('.aufwand')) do
    = f.labeled_input_field :honorare_inkl_sozialversicherung, addon: t('global.currency')
    = f.labeled_input_field :unterkunft, addon: t('global.currency')
    = f.labeled_input_field :uebriges, addon: t('global.currency')

  = field_set_tag(t('.ertrag')) do
    = f.labeled_input_field :beitraege_teilnehmende, addon: t('global.currency')
