- title @event.to_s

= crud_form(entry,
            url: group_event_course_record_path(*parents),
            cancel_url: group_event_path(*parents),
            buttons_bottom: true,
            method: :put,
            html: { class: 'course-record report long-labeled' }) do |f|

  = render 'general_fields', f: f
  = render 'participant_fields', f: f
  = render 'absence_fields', f: f
  = render 'presence_fields', f: f
  = render 'team_fields', f: f
  = render 'cost_fields', f: f
  = render 'evaluation_fields', f: f



