-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag do
  = render 'main_fields',  f: f, sk: entry.sk?

  - duration = entry.sk? ? @numbers.duration_hours : @numbers.duration_days
  = f.labeled_input_field :kursdauer,
                          addon: entry.duration_unit,
                          label: entry.kursdauer_label,
                          help_inline: muted(t('event.course_records.form.according_to_course_dates',
                                               duration: f(duration)))

  - if entry.event.years.size > 1
    = f.labeled_collection_select(:year, entry.event.years, :to_s, :to_s, {}, class: 'span2')
  - else
    = f.labeled_readonly_value(:year)
