-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag(t('event.course_records.form.effektiv_teilnehmende')) do
  = render 'canton_fields', f: f, attr: :teilnehmende_behinderte,
                            cantons_attr: :challenged_canton_count,
                            suggestion: @numbers.challenged_count,
                            cantons_suggestion: @numbers.challenged_canton_counts

  = participant_field_with_suggestion(f, :teilnehmende_mehrfachbehinderte, @numbers.challenged_multiple_count)

  = render 'canton_fields', f: f, attr: :teilnehmende_angehoerige,
                            cantons_attr: :affiliated_canton_count,
                            suggestion: @numbers.affiliated_count,
                            cantons_suggestion: @numbers.affiliated_canton_counts

  = participant_field_with_suggestion(f, :teilnehmende_weitere, @numbers.not_entitled_for_benefit_count)

  = participant_readonly_value_with_suggestion(f, :total, fnumber(entry.teilnehmende), fnumber(@numbers.participant_count))
