= field_set_tag(t('event.course_records.form.betreuerinnen')) do
  = participant_field_with_suggestion(f, :leiterinnen, @numbers.leader_count)
  = participant_field_with_suggestion(f, :fachpersonen, @numbers.expert_count)
  = participant_field_with_suggestion(f, :hilfspersonal_mit_honorar, @numbers.helper_paid_count)
  = participant_field_with_suggestion(f, :hilfspersonal_ohne_honorar, @numbers.helper_unpaid_count)

  = f.labeled_readonly_value :total,
                             value: f(entry.betreuende),
                             help_inline: muted(t('event.course_records.form.according_to_list',
                                                  count: f(@numbers.team_count)))

  = f.labeled_readonly_value :betreuungsschluessel,
                              value: t('event.course_records.form.challenged_per_team', ratio: f(@numbers.mentoring_ratio))

= field_set_tag(t('event.course_records.form.personal')) do
  = participant_field_with_suggestion(f, :kuechenpersonal, @numbers.kitchen_count)