-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- @subtitle = I18n.t('crud.edit.title', model: entry)

- section_fields = %w(raeumlichkeiten
-                     verwaltung
-                     beratung
-                     treffpunkte
-                     blockkurse
-                     tageskurse
-                     jahreskurse
-                     lufeb
-                     mittelbeschaffung)

= crud_form(entry, url: cost_accounting_report_group_path(group, year, entry.report),
                     cancel_url: cost_accounting_group_path(group, year: year),
                     buttons_bottom: true,
                     method: :put,
                     html: { class: 'report' }) do |f|

  - if report.editable_fields.include?('aufwand_ertrag_fibu')
    = f.labeled_input_field(:aufwand_ertrag_fibu,
                            label: report.aufwand ? t('.aufwand_fibu') : t('.ertrag_fibu'),
                            addon: t('global.currency'),
                            help_inline: t('.kontengruppen', kontengruppen: report.kontengruppe))

  - if report.editable_fields.include?('aufteilung_kontengruppen')
    = f.labeled_input_field(:aufteilung_kontengruppen,
                            placeholder: t('.remarks_placeholder'))

  = cost_accounting_input_fields(f, :abgrenzung_fibu)

  - if group.is_a?(Group::Dachverein)
    = cost_accounting_input_fields(f, :abgrenzung_dachorganisation)

  - unless report == CostAccounting::Report::DirekteSpendenAusserhalb
    - factor = report == CostAccounting::Report::IndirekteSpenden ? table.value_of(report.key, 'abgrenzung_factor') : nil
    = f.labeled(:aufwand_ertrag_ko_re, report.aufwand ? t('.aufwand_ko_re') : t('.ertrag_ko_re')) do
      .inline#aufwand_ertrag_ko_re{data: { abgrenzung_factor: factor}}

  - if (report.editable_fields & section_fields).present?
    %hr/

    = cost_accounting_input_fields(f, *section_fields)

    = f.labeled(:kontrolle) do
      .inline#control_value

- content_for(:javascripts) do
  new App.CostAccountingCalculator().updateValues();
