-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- @subtitle = t('.title')

= action_button(t('.export'), params.merge(format: :csv), :download)

.table-responsive.cost_accounting
  %table.table.table-hover
    %thead
      %tr
        %th
        %th= CostAccountingRecord.human_attribute_name(:kontengruppe)
        - @table.class.fields.each do |f|
          %th{class: cost_account_field_class(f)}
            = CostAccountingRecord.human_attribute_name(f)

    %tbody
      - previous_kind = nil
      - @table.reports.values.each do |report|
        - if report.kind == :deckungsbeitrag && previous_kind != report.kind
          %tr{class: 'deckungsbeitrag-separator'}
            %td{colspan: 2 + @table.class.fields.length} &nbsp;

        %tr{class: report.kind}
          %th
            = link_to_if report.editable?,
                         h(report.short_name),
                         edit_cost_accounting_report_group_path(group, year, report.key),
                         title: h(report.human_name)

          %td.center= report.kontengruppe
          - @table.class.fields.each do |f|
            %td.right{class: cost_account_field_class(f)}
              = f(report.send(f))

        - previous_kind = report.kind
