-#  Copyright (c) 2012-2014, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- title @group.to_s

.table-responsive.cost_accounting
  %table.table.table-hover
    %thead
      %tr
        %th
        %th= CostAccountingRecord.human_attribute_name(:kontengruppe)
        - @table.class.fields.each do |f|
          %th{class: cost_account_field_class(f)}
            = CostAccountingRecord.human_attribute_name(f)

    %tbody
      - @table.reports.values.each do |report|
        %tr{class: report.kind}
          %th
            = link_to_if report.editable?,
                         h(report.human_name),
                         edit_cost_accounting_report_group_path(group, year, report.key)

          %td.center= report.kontengruppe
          - @table.class.fields.each do |f|
            %td.right{class: cost_account_field_class(f)}
              = f(report.send(f))
